{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "globals": {
    "__DEV__": true,
    "fetch": true,
    "alert": true
  },
  "plugins": [
    "eslint-plugin-react"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "class-methods-use-this": ["error", {
      "exceptMethods": [
        "render",
        "getInitialState",
        "getDefaultProps",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentDidUpdate",
        "componentWillUnmount"
      ],
    }],
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".android.js",
          ".ios.js"
        ]
      }
    }
  }
}
